<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="robots" content="index,follow">
		<meta name="viewport", content="width=device-width, initial-scale=1">

		<title>XXXX YOUR FEATURE NAME HERE XXXX | RBMA Daily</title>

		<!--GOOGLE-->
		<meta itemprop="name" content="XXXX YOUR FEATURE NAME HERE XXXX| Red Bull Music Academy Daily">
		<meta itemprop="description" content="XXXX YOUR DESCRIPTION HERE XXXX">
		<meta itemprop="image" content="XXXX FULL IMAGE URL TO USE FOR SOCIAL XXXX">
		<meta name="description" content="XXXX YOUR DESCRIPTION HERE XXXX">
		<link rel="author" href="https://plus.google.com/+RBMA/posts">
		<link rel="publisher" href="https://plus.google.com/+RBMA">

		<!--FACEBOOK-->
		<meta property="og:title" content="XXXX YOUR FEATURE NAME HERE XXXX | Red Bull Music Academy Daily">
		<meta property="og:description" content="XXXX FACEBOOK DESCRIPTION XXXX">
		<meta property="og:type" content="article">
		<meta property="og:url" content="http://daily.redbullmusicacademy.com/specials/XXXX FINAL URL HERE XXXX/">
		<meta property="og:image" content="XXXX FULL IMAGE URL TO USE FOR SOCIAL XXXX">
		<meta property="og:site_name" content="Red Bull Music Academy Daily">
		<meta property="fb:admins" content="100006789941377">

		<!--TWITTER-->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@rbma">
		<meta name="twitter:title" content="XXXX FEATURE NAME XXXX | RBMA Daily">
		<meta name="twitter:description" content="XXXX TWITTER DESCRIPTION XXXX">
		<meta name="twitter:creator" content="@rbma">
		<meta name="twitter:image:src" content="XXXX FULL IMAGE URL TO USE FOR SOCIAL XXXX">

		<!--ICONS + FAVICON -->
		<link rel="apple-touch-icon" sizes="57x57" href="icons/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="icons/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="icons/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="icons/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="icons/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="icons/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="icons/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="icons/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="icons/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192" href="icons/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
		<link rel="manifest" href="icons/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TitleImage" content="icons/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">


		<!--STYLESHEETS-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
		<link rel="stylesheet" href="css/main.css">
	</head>


	<body>
		<!--RBMA NAV-->
		<nav id="nav" class="main-nav">
			<a href="http://daily.redbullmusicacademy.com" class="logo"></a>
			<a href="http://daily.redbullmusicacademy.com" class="text">Red Bull Music Academy</a>
			<div class="social">
				<a data-site="facebook" class="share-icon facebook"></a>
				<a data-site="twitter" class="share-icon twitter"></a>
			</div>
		</nav>

		<!--MAIN CONTENT GOES HERE -->

		<!--RBMA FOOTER-->
		<footer>
			
			<img src="images/footer-logo.svg" class="footer-logo">
			
			<div class="footer-title">Red Bull Music Academy Daily</div>
			
			<p class="footer-text">The Red Bull Music Academy Daily is the online publication by the Red Bull Music Academy, a global music institution committed to fostering creativity in music. Just like the Academy, we think of it as a platform for the essential ideas, sounds and people that have driven – and continue to drive – our culture forward.</p>

			<div class="sitemap">
				<div class="cell">
					
					<div class="link">
						<a href="http://www.redbullmusicacademy.com">Red Bull Music Academy</a>
					</div>

					<div class="link">
						<a href="http://www.redbullmusicacademy.com/about">About</a>
					</div>

					<div class="link">
						<a href="http://www.redbullmusicacademy.com/events">Events</a>
					</div>

					<div class="link">
						<a href="http://www.redbullmusicacademy.com/lectures">Lectures</a>
					</div>
				</div>

				<div class="cell">
					<div class="link">
						<a href="http://daily.redbullmusicacademy.com/">RBMA Daily</a>
					</div>

					<div class="link">
						<a href="http://daily.redbullmusicacademy.com/features">Features</a>
					</div>

					<div class="link">
						<a href="http://daily.redbullmusicacademy.com/interviews">Interviews</a>
					</div>

					<div class="link">
						<a href="http://daily.redbullmusicacademy.com/nightclubbing-features">Nightclubbing</a>
					</div>

					<div class="link">
						<a href="http://daily.redbullmusicacademy.com/studio-science">Studio Science</a>
					</div>

					<div class="link">
						<a href="http://daily.redbullmusicacademy.com/videos">Videos</a>
					</div>

					<div class="link">
						<a href="http://daily.redbullmusicacademy.com/galleries">Galleries</a>
					</div>

				</div>

				<div class="cell">
					<div class="link">
						<a href="http://www.rbmaradio.com/">RBMA Radio</a>
					</div>

					<div class="link">
						<a href="http://www.rbmaradio.com/categories">Interviews & Features</a>
					</div>

					<div class="link">
						<a href="http://www.rbmaradio.com/categories/live-recordings-mixes">Live Recordings & Mixes</a>
					</div>

					<div class="link">
						<a href="http://www.rbmaradio.com/categories/local-spotlights">Local Spotlights</a>
					</div>
				</div>

				<div class="footer-social">
					<a href="http://www.facebook.com/RedBullMusicAcademy">
						<div class="social-icon facebook"></div>
					</a>

					<a href="http://twitter.com/rbma">
						<div class="social-icon twitter"></div>
					</a>

					<a href="http://www.youtube.com/user/redbullmusicacademy">
						<div class="social-icon youtube"></div>
					</a>

					<a href="http://www.vimeo.com/redbullmusicacademy">
						<div class="social-icon vimeo"></div>
					</a>

					<a href="http://www.redbullmusicacademy.tumblr.com/">
						<div class="social-icon tumblr"></div>
					</a>

					<a href="http://www.soundcloud.com/redbullmusicacademy">
						<div class="social-icon soundcloud"></div>
					</a>

					<a href="http://www.instagram.com/redbullmusicacademy">
						<div class="social-icon instagram"></div>
					</a>
				</div>

				<div class="footer-legal">
					<p>
						<span>© Red Bull 2015 |</span>
						<span> <a href="http://www.redbullmusicacademy.com/p/terms">Terms & Conditions |</a></span>

						<span><a href="http://www.redbull.com/en/data-privacy-policy">Privacy Policy |</a></span>

						<span><a href="http://www.redbullmusicacademy.com/p/legal-notice">Legal Notice |</a></span>

						<span><a href="http://www.redbullmusicacademy.com/p/contact-us">Contact Us |</a></span>

						<span><a href="http://www.redbullmusicacademy.com/p/newsletter">Newsletter</a></span>
					</p>
				</div>
			</div>
		</footer>
		
		<script src="js/bundle.js"></script>

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-21347469-1', 'auto');
			ga('send', 'pageview');
		</script>

		<script>
			var edWrapperNameSpace = {};
			edWrapperNameSpace.aGTM = [
				"GTM-LVJ5",     // hq
				"GTM-7W7M",     // hq
				"GTM-HPZK",     // hq
				"GTM-WWXSFT"    // property
				];
			var edWrapper = [];
		</script>

		<script>
			edWrapperNameSpace.sVers = -1;
			edWrapperNameSpace.aInitialInnerWrapper = [["downloads.redbull.com/webtrekk/innereWrapper/gtm/innerWrapper_gtm.js",false]];
			edWrapperNameSpace.sWrapperSrc = ["downloads.redbull.com/webtrekk/edAnalyticsWrapper.js","downloads.redbull.com/webtrekk/confWrapper.js"];

			(function (sVarName) {
				window.edWrapperNameSpace.sEdWrapperObjectName = sVarName; window[sVarName] = window[sVarName] || [];
				var script = document.createElement('script'); script.type = 'text/javascript';script.asyn = false;
				script.src = ('https:' == document.location.protocol ? 'https://' : 'http://')+edWrapperNameSpace.sWrapperSrc[0] + "?v=" + edWrapperNameSpace.sVers;
				var script2 = document.getElementsByTagName('script')[0]; script2.parentNode.insertBefore(script, script2);
			})("edWrapper");
		</script>
		<script>
			edWrapper.push( [ 'trackPageView' , false , {1:'IntMS' , 2:'IntMS - int' , 3:'IntMS - int - Red Bull Music Academy'} , true ] );
			edWrapper.push( [ 'trackPageVar' , 'Language' , 'en'] );
			edWrapper.push( [ 'trackPageVar' , 'Domain incl. Subdomain' , window.location.hostname] );
			edWrapper.push( [ 'trackPageVar' , 'Type' , 'IntMS'] );
			edWrapper.push(['submit']);
		</script>
	</body>
</html>