doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="robots", content="index,follow")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")

		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
		link(rel="stylesheet", href="css/main.css")

		title YOUR TITLE HERE

		meta(itemprop="name", content="xxxxxxxxxx")
		meta(itemprop="description", content="xxxxxxxxxx")
		meta(itemprop="image", content="http://daily.redbullmusicacademy.com/specials/xxxxxxxxxx")

		meta(name="description", content="xxxxxxxxxx")

		//-FB
		meta(property="og:title", content="xxxxxxxxxx | Red Bull Music Academy Daily")
		meta(property="og:description", content="xxxxxxxxxx")
		meta(property="og:type", content="article")
		meta(property="og:url", content="http://daily.redbullmusicacademy.com/xxxxxxxxxx/")
		meta(property="og:image", content="http://daily.redbullmusicacademy.com/xxxxxxxxxx")
		meta(property="og:site_name", content="Red Bull Music Academy Daily")
		meta(property="fb:admins", content="100006789941377")

		//-Twitter
		meta(name="twitter:card", content="summary_large_image")
		meta(name="twitter:site", content="@rbma")
		meta(name="twitter:title", content="xxxxxxxxxx | RBMA Daily")
		meta(name="twitter:description", content="xxxxxxxxxx")
		meta(name="twitter:creator", content="@rbma")
		meta(name="twitter:image:src", content="xxxxxxxxxx")


		link(rel="author", href="https://plus.google.com/+RBMA/posts")
		link(rel="publisher", href="https://plus.google.com/+RBMA")

		link(rel="apple-touch-icon", sizes="57x57", href="icons/apple-icon-57x57.png")
		link(rel="apple-touch-icon", sizes="60x60", href="icons/apple-icon-60x60.png")
		link(rel="apple-touch-icon", sizes="72x72", href="icons/apple-icon-72x72.png")
		link(rel="apple-touch-icon", sizes="76x76", href="icons/apple-icon-76x76.png")
		link(rel="apple-touch-icon", sizes="114x114", href="icons/apple-icon-114x114.png")
		link(rel="apple-touch-icon", sizes="120x120", href="icons/apple-icon-120x120.png")
		link(rel="apple-touch-icon", sizes="144x144", href="icons/apple-icon-144x144.png")
		link(rel="apple-touch-icon", sizes="152x152", href="icons/apple-icon-152x152.png")
		link(rel="apple-touch-icon", sizes="180x180", href="icons/apple-icon-180x180.png")
		link(rel="icon", type="image/png", sizes="192x192", href="icons/android-icon-192x192.png")
		link(rel="icon", type="image/png", sizes="32x32", href="icons/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="96x96", href="icons/favicon-96x96.png")
		link(rel="icon", type="image/png", sizes="16x16", href="icons/favicon-16x16.png")
		link(rel="manifest", href="icons/manifest.json")
		meta(name="msapplication-TileColor" content="#ffffff")
		meta(name="msapplication-TileImage", content="icons/ms-icon-144x144.png")
		meta(name="theme-color", content="#ffffff")

	body

		footer
			img.footer-logo(src="images/footer-logo.svg")

			.footer-title Red Bull Music Academy Daily

			p.footer-text.
				The Red Bull Music Academy Daily is the online publication by the Red Bull Music Academy, a global music institution committed to fostering creativity in music. Just like the Academy, we think of it as a platform for the essential ideas, sounds and people that have driven – and continue to drive – our culture forward.

			.sitemap
				.cell
					.link
						a(href="http://www.redbullmusicacademy.com") Red Bull Music Academy
					.link
						a(href="http://www.redbullmusicacademy.com/about") About
					.link
						a(href="http://www.redbullmusicacademy.com/events") Events
					.link
						a(href="http://www.redbullmusicacademy.com/lectures") Lectures

				.cell
					.link
						a(href="http://daily.redbullmusicacademy.com/") RBMA Daily
					.link
						a(href="http://daily.redbullmusicacademy.com/features") Features
					.link
						a(href="http://daily.redbullmusicacademy.com/interviews") Interviews
					.link
						a(href="http://daily.redbullmusicacademy.com/nightclubbing-features") Nightclubbing
					.link
						a(href="http://daily.redbullmusicacademy.com/studio-science") Studio Science
					.link
						a(href="http://daily.redbullmusicacademy.com/videos") Videos
					.link
						a(href="http://daily.redbullmusicacademy.com/galleries") Galleries

				.cell
					.link
						a(href="http://www.rbmaradio.com/") RBMA Radio
					.link
						a(href="http://www.rbmaradio.com/categories") Interviews & Features
					.link
						a(href="http://www.rbmaradio.com/categories/live-recordings-mixes") Live Recordings & Mixes
					.link
						a(href="http://www.rbmaradio.com/categories/local-spotlights") Local Spotlights

				.footer-social
					a(href="http://www.facebook.com/RedBullMusicAcademy")
						.social-icon.facebook
					a(href="http://twitter.com/rbma")
						.social-icon.twitter
					a(href="http://www.youtube.com/user/redbullmusicacademy")
						.social-icon.youtube
					a(href="http://www.vimeo.com/redbullmusicacademy")
						.social-icon.vimeo
					a(href="http://www.redbullmusicacademy.tumblr.com/")
						.social-icon.tumblr
					a(href="http://www.soundcloud.com/redbullmusicacademy")
						.social-icon.soundcloud
					a(href="http://www.instagram.com/redbullmusicacademy")
						.social-icon.instagram

				.footer-legal
					p
						span © Red Bull 2015 |
						span 
							a(href="http://www.redbullmusicacademy.com/p/terms") Terms & Conditions |
						span
							a(href="http://www.redbull.com/en/data-privacy-policy") Privacy Policy |
						span
							a(href="http://www.redbullmusicacademy.com/p/legal-notice") Legal Notice |
						span
							a(href="http://www.redbullmusicacademy.com/p/contact-us") Contact Us |
						span
							a(href="http://www.redbullmusicacademy.com/p/newsletter") Newsletter


		script(src="js/bundle.js")

		//-GA
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-21347469-1', 'auto');
			ga('send', 'pageview');

		//-Webtrekk 1
		script.
			var edWrapperNameSpace = {};
			edWrapperNameSpace.aGTM = [
			"GTM-LVJ5",     // hq
			"GTM-7W7M",     // hq
			"GTM-HPZK",     // hq
			"GTM-WWXSFT"    // property
			];
			var edWrapper = [];

		//- Webtrekk 2
		script.
			edWrapperNameSpace.sVers = -1;
			edWrapperNameSpace.aInitialInnerWrapper = [["downloads.redbull.com/webtrekk/innereWrapper/gtm/innerWrapper_gtm.js",false]];
			edWrapperNameSpace.sWrapperSrc = ["downloads.redbull.com/webtrekk/edAnalyticsWrapper.js","downloads.redbull.com/webtrekk/confWrapper.js"];

			(function (sVarName) {
				window.edWrapperNameSpace.sEdWrapperObjectName = sVarName; window[sVarName] = window[sVarName] || [];
				var script = document.createElement('script'); script.type = 'text/javascript';script.asyn = false; 
				script.src = ('https:' == document.location.protocol ? 'https://' : 'http://')+edWrapperNameSpace.sWrapperSrc[0] + "?v=" + edWrapperNameSpace.sVers;
				var script2 = document.getElementsByTagName('script')[0]; script2.parentNode.insertBefore(script, script2);
			})("edWrapper");

		script.
			edWrapper.push( [ 'trackPageView' , false , {1:'IntMS' , 2:'IntMS - int' , 3:'IntMS - int - Red Bull Music Academy'} , true ] );
			edWrapper.push( [ 'trackPageVar' , 'Language' , 'en'] );
			edWrapper.push( [ 'trackPageVar' , 'Domain incl. Subdomain' , window.location.hostname] );
			edWrapper.push( [ 'trackPageVar' , 'Type' , 'IntMS'] );
			edWrapper.push(['submit']);