// -------------------------------------------------
//
// Nav
// 
// -------------------------------------------------
nav.main-nav{
    box-shadow: 0 0 8px rgba(0,0,0,.2);
    font-family: 'ClanPro';
    height: 50px;
    display: block;
    @include display(flex);
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(center);
    background: rgba(0,0,0,0.5);
    border-bottom: 1px white;
    color: $text;
    z-index: 999;
    background: $background;
    font-size: 1.5em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    @include fast();
    .logo{
        width: 60px;
        height: 30px;
        position: absolute;
        top: 0;
        left: 16px;
        top: 9px;
        bottom: 9px;
        display: block;
        background: url(../images/logo.svg) no-repeat center center;
        background-size: contain;
    }
    .text{
        display: none;
        text-decoration: none;
        @include uppercase();
        @include mq("medium"){
            display: block;
        }
    }

    .social{
        width: auto;
        position: absolute;
        right: 10px;
        top: 0;
        @include display(flex);
        @include flex-direction(row);
        @include align-items(center);
        @include justify-content(center);
        height: 100%;
    }

    .share-icon{
        width: 40px;
        height: 40px;
        padding-left: 25px;
        &.twitter{
            background: url(../images/twitter.svg) no-repeat center center;
            background-size: 80%;
        }
        &.facebook{
            background: url(../images/facebook.svg) no-repeat center center;
            background-size: 80%;
        }
    }
}


// ------------------------------------------------
// Headroom
//
.headroom{
    @include transition(all 0.3s linear);
    &.headroom--pinned{
        @include transform(translateY(0) translateZ(0));
    }
    &.headroom--unpinned{
        @include transform(translateY(-100%) translateZ(0));
    }

}


